---
---
$interaction-color: #825ccc;
$active-color:      #3399ff;
$selection-color:   rgba(130, 92, 204, 0.2);

.editor {
  position: relative;
  font-family: Inconsolata, Consolas, "Andale Mono", "Lucida Console", monospace;

  /* Resets */

  * {
    box-sizing: border-box;
  }

  *:focus {
    outline: none;
  }

  input, select {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
  }

  input:hover, input:active, input:focus,
  select:hover, select:active, select:focus {
    color: $active-color;
    cursor: default;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  

  /* Code editor */

  .code {
    position: relative;
    display: block;
    width: 100%;
    height: 500px;
    background: rgba(255,255,255,0.8);
    font-size: 17px;
    line-height: 1.4em;

    .editor, .display {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      border: none;
      resize: none;
      overflow-y: scroll;
    }

    .editor, .text {
      padding: 24px;
      white-space: pre-wrap;
      text-rendering: optimizeSpeed; /* Jumps otherwise */
    }

    .editor {
      color: transparent;
      background: transparent;
      font-size: inherit;
      font-weight: inherit;
      font-family: inherit;
      line-height: inherit;

      &::selection {
        color: transparent;
        background: $selection-color;
      }
      &::-moz-selection {
        color: transparent;
        background: $selection-color;
      }
    }

    .display {

      .text {
        position: absolute;
        width: 100%;
        color: rgba(0,0,0,0.7);
      }

      .cursor-layer {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 24px;
      }

      .cursor {
        display: inline-block;
        position: absolute;
        border-left: $interaction-color 2px solid;
      }

      .blink {
        -webkit-animation: 1s blink step-end infinite;
        -moz-animation: 1s blink step-end infinite;
        animation: 1s blink step-end infinite;
      }

      @-webkit-keyframes "blink" {
        0%    { opacity: 1; }
        50%   { opacity: 0; }
      }
      @-moz-keyframes "blink" {
        0%    { opacity: 1; }
        50%   { opacity: 0; }
      }
      @keyframes "blink" {
        0%    { opacity: 1; }
        50%   { opacity: 0; }
      }  
    }
  }


  /* Controls */

  .controls {
    position: relative;
    width: 100%;
    height: 64px;
    background: #fff;
    color: $interaction-color;
    cursor: default;

    /* Play/stop buttons */

    .play,
    .stop {
      position: absolute;
      top: 12px;
      left: 16px;
      width: 40px;
      height: 40px;
      border: 2px solid $interaction-color;
      border-radius: 50%;
      background: none;
      cursor: pointer;

      &:hover {
        border-color: $active-color;
      }

      svg path,
      svg rect {
        stroke-width: 2;
      }

      &:hover {
        svg path,
        svg rect {
          stroke: $active-color;
        }
      }
    }

    .play svg {
      position: absolute;
      top: 8px;
      left: 11px;
    }

    .stop svg {
      position: absolute;
      top: 8px;
      left: 8px;
    }


    /* Slider */

    .slider {
      position: absolute;
      top: 0px;
      left: 80px;
      right: 210px;

      .output {
        position: absolute;
        top: 3px;
        left: -27px;
        width: 70px;
        font-size: 14px;
        text-align: center;

        &.hide {
          opacity: 0;
          transition: opacity 1s ease 1s;
        }
        &.show {
          opacity: 1;
          transition: opacity 0.2s ease;
        }
      }
    
      input {
        display: block;
        position: absolute;
        top: 24px;
        width: 100%;

        &::-webkit-slider-runnable-track {
          height: 2px;
          margin-top: 8px;
          background: $interaction-color;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          position: relative;
          top: -7px;
          height: 16px;
          width: 16px;
          border: 2px solid $interaction-color;
          background: #ffffff;
          border-radius: 50%;

          &:active {
            border-color: $active-color;
          }
        }
        
        &::-moz-range-track {
          height: 1px;
          background: $interaction-color;
          border: none;
        }

        &::-moz-range-thumb {
          position: relative;
          height: 16px;
          width: 16px;
          border: 1px solid $interaction-color;
          background: #ffffff;
          border-radius: 50%;

          &:active {
            border-color: $active-color;
          }
        }
      }
    }


    /* Settings */

    .settings {
      position: absolute;
      top: 20px;
      right: 18px;

      input {
        margin-right: 8px;        
        text-align: right;
      }

      .time, .tonic {
        margin-left: 8px;
      }
      .tonic.short {
        margin-right: -8px;
      }
    }
  }


  /* Not supported message */

  .not-supported {
    position: relative;
    width: 100%;
    height: 64px;
    background: rgb(255,255,255);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 20px;
    color: $interaction-color;
    text-align: center;

    a {
      color: $interaction-color;
      &:hover {
        border-bottom-color: $interaction-color;
      }
    }
  }
}