---
---
/* Variables */

$color-error:       #ff323c;
$color-equal:       #f03a76;
$color-reference:   #815ccc;
$color-note:        #3399ff;
$color-condition:   #ff854c;
$color-comment:     #79c95e;
$color-playing:     #ffffb3;

$color-interaction: #815ccc;

/* Resets */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body { font:13px/1.231 sans-serif; *font-size:small; } 
html { overflow-y: scroll; }
a, a:visited, a:hover { text-decoration: none; }
a:hover, a:active { outline: none; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
::-moz-selection{ background: #000; color:#fff; text-shadow: none; }
::selection { background:#000; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: transparent; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
* { box-sizing: border-box; }
*:focus { outline: none; }

/* Fix weird Typekit bug */

body > span[aria-hidden=true] {
  position: fixed !important;
}


/* Layout */

html {
  min-height: 100%;
  position: relative;
}
body {
  min-height: 100%;
  position: relative;
}
header, section, footer {
  width: 100%;
  padding: 0 12px;
  overflow: auto;

  > div {
    max-width: 942px;
    margin: 0px auto;
  }
}
.third, .half, .twothirds, .whole {
  float: left;
  padding: 0 12px;
  margin: 1.4rem 0;
}
.third      { width: 33.333%; }
.half       { width: 50%; }
.twothirds  { width: 66.666%; }
.whole      { width: 100%; }
@media screen and (max-width: 590px) {
  section, header, footer {
    padding: 0 2%;
  }
  .third, .half, .twothirds, .whole {
    width: 100%;
    padding: 0 2%;
    margin: 4% 0;
  }
}


/* Typography */

$regular: "Apercu Regular", Apercu, "Helvetica Neue", Arial, sans-serif;
$bold:    "Apercu Bold", Apercu, "Helvetica Neue", Arial, sans-serif;

body {
  font: 400 17px/1.4rem $regular;
  color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
p {
  color: rgba(255,255,255,0.8);
}
p + p,
p + ul,
ul + p {
  margin-top: 1rem;
}
em, strong {
  font-family: $bold;
  font-weight: bold;
}

/* Lists */

li {
  list-style-type: none;
}

/* Headings */

h1 {
  font-size: 22px;
  font-family: $bold;
  font-weight: bold;
  margin-top: 1.4rem;
  margin-bottom: 0.7rem;
}
h2 {
  font-size: 20px;
  font-family: $bold;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  margin-top: 3rem;
  margin-bottom: 1.4rem;
}
h3 {
  font-size: 17px;
  font-family: $bold;
  font-weight: bold;
  margin-top: 2rem;
}

/* Links */

a {
  color: $color-interaction;

  &:hover, &:active {
    border-bottom: 3px solid $color-interaction;
  }

  nav & {
    color: inherit;
    padding-bottom: 4px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);

    &:hover, &:active {
      border-bottom: 3px solid #fff;
    }
  }
  h1 & {
    color: inherit;
    padding-bottom: 4px;

    &:hover {
      opacity: 0.5;
      border: none;
    }
  }
}

/* Navigation */

header, footer {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}

/* Code */

pre {
  padding-left: 1.7rem;
  margin-left: 12px;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border-left: 2px solid #ddd;
  white-space: pre-wrap;
  position: relative;

  button {
    cursor: pointer;

    &.play, &.stop {
      position: absolute;
      left: -15px;
      top: -2px;
      width: 28px;
      height: 28px;
      background: none;
      border: none;
    }
    &.stop {
      display: none;
    }
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &:hover, &:active {
      circle {
        stroke: $color-interaction;
      }
      rect, path {
        fill: $color-interaction;
      }
    }
  }
}
pre.active {
  border-color: $color-interaction;

  circle {
    stroke: $color-interaction;
  }
  rect, path {
    fill: $color-interaction;
  }
}
code {
  color: $color-interaction;
  font-family: Inconsolata, Consolas, "Andale Mono", "Lucida Console", monospace;

  p & {
    padding: 0px 2px;
  }
}

/* Syntax highlighting */

pre code       { color: #505050; }
span.error     { color: $color-error; border-bottom: 2px solid $color-error; }
span.equal     { color: $color-equal; }
span.reference { color: $color-reference; }
span.note      { color: $color-note; }
span.condition { color: $color-condition; }
span.comment   { color: $color-comment; }
span.playing   { color: $color-playing; border-bottom: 2px solid $color-playing; }
pre span.playing { color: #000; border-bottom: 2px solid #000; }

/* Tables */

table {
  width: 100%;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border-collapse: collapse;

  tr {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  td {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 1.4em;
  }
  td:last-child {
    padding-right: 0;
  }
}

/* Design */

body {
  background: linear-gradient(170deg, $color-interaction, #73b9ff);
}

header {
  .logo {
    width: 68px;
    height: 68px;
    float: left;
    margin-right: 1.4em;
  }
  h1 {
    float: left;
    font-weight: normal;

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }

  nav {
    float: right;
    width: 50%;
    margin: 0;
    padding: 1.4rem 0 0.7rem;
    text-align: right;

    @media screen and (max-width: 450px) {
      width: 100%;
      float: left;
      padding: 0;
      text-align: left;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin-left: 1em;

      @media screen and (max-width: 450px) {
        display: block;
        width: 100%;
        float: left;
        margin: 0;
      }
    }
  }
}

footer {
  nav {
    padding: 0.7rem 0;

    li {
      display: inline-block;
      list-style-type: none;
      margin-right: 1em;
    }
    li.right {
      float: right;
    }
    li.right:last-child {
      margin-right: 0;
    }
  }
}


/* Layout: Playground */

body.playground {
  .ref {
    padding-left: 5%;

    @media screen and (max-width: 590px) {
      padding: 0 2%;
    }
  }
  .contents h1 {
    margin-top: 0;
  }
}


/* Layout: Text */

body.text {
  background: #fff;

  header {
    background: linear-gradient(130deg, $color-interaction, #779ef0);
  }
  footer {
    background: #eee;

    nav a {
      color: $color-interaction;
      border-color: transparent;

      &:hover, &:active {
        border-color: $color-interaction;
      }
    }
  }
  .contents, footer {
    color: rgb(40,40,40);
    font-size: 16px;
  }
  .contents {
    padding-bottom: 3em;
  }
  h2 {
    border-color: rgba(40,40,40,0.15);
  }
  p, table {
    color: rgba(40,40,40,0.8);
  }
  tr {
    border-width: 3px;
    border-color: #ddd;
  }
}

/* Sidenav */

.sidenav {
  width: 180px;
  margin-top: 1.4rem;
  margin-left: 100px;

  .dropdown-menu {
    display: none;
    border-left: 3px solid #ddd;
    padding-left: 1.4rem;
    margin-left: 2px;
  }
  li {
    margin: 8px 0;

    a {
      color: #999999;
    }
    &.active {
      > a {
        font-family: $bold;
        font-weight: bold;
      }

      .dropdown-menu {
        display: block;
      }
    }
  }
  li.active {
    &.patterns > a,
    &.patterns a:hover,
    &.patterns li.active > a {
      color: $color-note;
    }
    &.sequences > a,
    &.sequences a:hover,
    &.sequences li.active > a {
      color: $color-reference;
    }
    &.rules > a,
    &.rules a:hover,
    &.rules li.active > a {
      color: $color-equal;
    }
    &.conditions > a,
    &.conditions a:hover,
    &.conditions li.active > a {
      color: $color-condition;
    }
    &.comments > a,
    &.comments a:hover,
    &.comments li.active > a {
      color: $color-comment;
    }
  }
  @media screen and (max-width: 768px) {
    margin-left: 60px;
  }  
  @media screen and (max-width: 590px) {
    display: none;
  }
  &.affix {
    position: fixed;
    top: 0;
  }
}