/* Resets */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body { font:13px/1.231 sans-serif; *font-size:small; } 
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
::-moz-selection{ background: #000; color:#fff; text-shadow: none; }
::selection { background:#000; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: transparent; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
* { box-sizing: border-box; }


/* Fix weird Typekit bug */

body > span[aria-hidden=true] {
  position: fixed !important;
}


/* Layout */

html {
  min-height: 100%;
  position: relative;
}
body {
  min-height: 100%;
}
header, section, footer {
  width: 100%;
  padding: 0 12px;
  overflow: auto;
}
.contents {
  max-width: 942px;
  margin: 0px auto;
}
.third, .half, .twothirds, .whole {
  float: left;
  padding: 0 12px;
  margin: 1.4rem 0;
}
.third      { width: 33.333%; }
.half       { width: 50%; }
.twothirds  { width: 66.666%; }
.whole      { width: 100%; }
img {
  display: block;
  max-width: 100%;
}
@media screen and (max-width: 590px) {
  section, header, footer {
    padding: 0 2%;
  }
  .third, .half, .twothirds, .whole {
    width: 100%;
    padding: 0 2%;
    margin: 4% 0;
  }
}


/* Typography */

body {
  font: 400 17px/1.4rem "minion-pro", "Minion Pro", Times, "Times New Roman", serif;
  color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1, h2 {
  font-size: 22px;
}
h1 {
  padding-top: 1.4rem;
  padding-bottom: 0.7rem;
}
h2 {
  margin-bottom: 0.7rem;
}
h3 {
  font-size: 17px;
  padding-top: 1.4rem;
}
a, a:visited, a:hover {
  border-bottom: 1px solid rgba(255, 217, 178, 0.5);
  text-decoration: none;
  color: #fff;
}
a:hover {
  border-bottom: 1px solid #fff;
}
h1 a {
  border-bottom: none;
}
h1 a:hover {
  border-bottom: none;
  color: rgb(255, 217, 178);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
p {
  color: rgba(255, 255, 255, 0.9);
}
p + p {
  margin-top: 1rem;
}
em {
  font-style: italic;
}
pre {
  padding-left: 1rem;
  margin-left: 1rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border-left: 2px solid rgba(255, 217, 178, 0.3);
  white-space: pre-wrap;
}
code {
  color: rgb(255, 217, 178);
  font-family: Inconsolata, Consolas, "Andale Mono", "Lucida Console", monospace;
}
code .arrow {
  color: rgba(255, 255, 255, 0.9);
}
code .condition {
  color: rgba(255, 255, 255, 0.9);
}
table {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border-collapse: collapse;
}
table tr {
  border-top: 1px solid rgba(255, 217, 178, 0.3);
  border-bottom: 1px solid rgba(255, 217, 178, 0.3);
}
table td {
  padding-bottom: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 0.7em;
}
table td:last-child {
  padding-right: 0;
}

/* Design */

body {
  background: linear-gradient(170deg, #f03976, #ff7e73);
}
.line-below {
  border-bottom: 1px solid rgba(255, 217, 178, 0.5);
}
.line-above {
  border-top: 1px solid rgba(255, 217, 178, 0.5);
}
header h1 {
  float: left;
  width: 50%;
  font-weight: 600;
}
header nav {
  float: right;
  width: 50%;
  margin: 0;
  padding: 1.4rem 0 0.7rem;
  text-align: right;
}
header nav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 12px;
  font-style: italic;
}
@media screen and (max-width: 450px) {
  header h1 {
    width: 100%;
  }
  header nav {
    width: 100%;
    float: left;
    padding: 0;
    text-align: left;
  }
  header nav li {
    display: block;
    width: 100%;
    float: left;
    margin: 0;
  }  
}
footer {
  text-align: right;
}
footer p {
  padding: 0.7rem 0;
}


/* Playground */

.playground .ref {
  padding-left: 5%;
}
@media screen and (max-width: 590px) {
  .playground .ref {
    padding: 0 2%;
  }
}
.playground .ref code {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
}


/* Documentation */

.documentation h2 {
  font-style: italic;
  margin-top: 3rem;
  margin-bottom: 1.4rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 217, 178, 0.5);
}