<div class="editor">

  <div class="code">
    <div class="display">
      <div class="text"></div>
      <div class="cursor-layer">
        <div class="cursor blink">&nbsp;</div>
      </div>
    </div>
    <textarea class="editor" spellcheck="false"></textarea>
  </div>

  <div class="controls">

    <button class="play">
      <svg x="0px" y="0px" width="20px" height="20px">
        <path fill="none" stroke="#825ccc" stroke-miterlimit="1000" d="M16,10L2,18V2L16,10z"/>
      </svg>
    </button>

    <button class="stop" style="display: none">
      <svg x="0px" y="0px" width="20px" height="20px">
        <rect x="3" y="3" fill="none" stroke="#825ccc" stroke-miterlimit="1000" width="14" height="14"/>
      </svg>
    </button>

    <div class="slider">
      <div class="output hide">x = 0</div>
      <input type="range" min="0" max="10" value="0" step="0.1" />
    </div>

    <div class="settings">    
      <input class="tempo" type="number" min="1" max="320" value="120" step="1" maxlength="3" /><label>bpm</label>
      <select class="time">
        <option>3/4</option>
        <option selected>4/4</option>
        <option>5/4</option>
        <option>6/8</option>
        <option>7/8</option>
      </select>
      <select class="tonic short">
        <option selected>C</option>
        <option>C#</option>
        <option>D</option>
        <option>Db</option>
        <option>D#</option>
        <option>E</option>
        <option>Eb</option>
        <option>F</option>
        <option>F#</option>
        <option>G</option>
        <option>Gb</option>
        <option>G#</option>
        <option>A</option>
        <option>Ab</option>
        <option>A#</option>
        <option>B</option>
        <option>Bb</option>
      </select>
      <select class="scale">
        <option value="major" selected>maj</option>
        <option value="minor">min</option>
      </select>
    </div>
  </div>

  <div class="not-supported" style="display: none">
    Your browser doesn’t support web audio. Why don’t you try <a href="https://www.google.com/chrome/browser/desktop/">Chrome</a>?
  </div>
</div>