<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.class }}">

    {% include header.html %}

    <section class="contents">
      <div>
        {{ content }}
      </div>
    </section>

    {% include footer.html %}

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/polyhymnia.js"></script>
    <script src="/js/editor.js"></script>
    <script src="/js/miniplayer.js"></script>
    <script src="/js/main.js"></script>
  </body>

</html>
